<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Authentification à deux facteurs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="input">
        <!-- Champ pour le numéro de téléphone -->
        <div class="canView d-f-s">
            <ion-input 
                type="tel" 
                label="Numéro de téléphone" 
                labelPlacement="floating" 
                class="content" 
                [(ngModel)]="twoFactorData.phone_number" 
                required>
            </ion-input>
        </div>

        <!-- Toggle pour activer/désactiver l'authentification à deux facteurs -->
        <div class="canView d-f-s">
            <ion-item>
                <ion-label>Activer l'authentification à deux facteurs</ion-label>
                <ion-toggle 
                    [(ngModel)]="twoFactorData.two_factor" 
                    color="primary">
                </ion-toggle>
            </ion-item>
        </div>

        <!-- Bouton pour soumettre les modifications -->
        <ion-button 
            expand="block" 
            shape="round" 
            (click)="updateTwoFactor()">
            Sauvegarder
        </ion-button>
    </div>
</ion-content>
