<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Créer une Playlist</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card button (click)="camera()" class="ion-no-box-shadow">
        <ion-card-content class="image">
            <img *ngIf="isGetImg" src="{{imgPath}}">
            <div class="content" *ngIf="!isGetImg">
                <ion-icon color="primary" slot="start" name="image"></ion-icon>
                <h5>Sélectinner l'image à importer</h5>
            </div>
        </ion-card-content>
    </ion-card>
    <div class="input">
        <div class="canView d-f-s">
            <ion-icon name="eye-outline"></ion-icon>
            <ion-input type="text" placeholder="Titre de la Playlist" class="content"></ion-input>
        </div>
        <div class="canView d-f-s">
            <ion-icon name="eye-outline"></ion-icon>
            <ion-input type="text" placeholder="Confidentialité" class="content"></ion-input>
        </div>
    </div>
    <div class="bloc-btn">
        <ion-button (click)="closeModal()" fill="clear">
            Annuler
        </ion-button>
        <ion-button (click)="closeModal()" expand="bloc" shape="round">
            Créer
        </ion-button>
    </div>
</ion-content>