<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Reinitialiser</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <div class="logo d-f-c">
            <img src="assets/icon/logo.png" alt="logo">
        </div>
        <h2>Mot de passe oublié? </h2>
        <ion-label>Veuillez entrer votre adresse e-mail</ion-label>
        <p>Nous vous enverrons un lien pour réinitialiser votre mot de passse</p>
        <form action="" method="post" (ngSubmit)="forgotPassword()">
            <div class="input">
                <div class="canView d-f-s">
                    <ion-icon slot="start" name="mail"></ion-icon>
                    <ion-input type="email" id="email" name="email" [(ngModel)]="email" label="E-mail" labelPlacement="floating"></ion-input>
                </div>
                <ion-button expand="block" shape="round" type="submit">
                    Envoyer
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>