<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Supprimer le compte</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class="input">
      <ion-item>
        <ion-label position="stacked">Mot de passe actuel</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="currentPassword"
          placeholder="Entrez votre mot de passe pour confirmer"
        ></ion-input>
      </ion-item>
  
      <ion-button
        expand="block"
        shape="round"
        class="ion-margin"
        color="danger"
        (click)="confirmDeleteAccount()"
      >
        Supprimer le compte
      </ion-button>
    </div>
  </ion-content>
  