ion-content {
    --padding-end: 1rem;
    --padding-start: 1rem;
}

.list_chansons {
    // padding-inline: 1rem;
    .ion-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 1rem;
        .img-detail {
            gap: 15px;
            margin-block: 8px;
        }
        .block-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            ion-button {
                --background: transparent;
                --box-shadow: none;
            }
        }
        img {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            margin-right: 10px;
        }
    }
    .title {
        overflow: hidden;
        h3 {
            font-weight: 900;
            font-size: 18px;
            // word-wrap: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p {
            color: gray;
        }
    }
    .btn-play {
        // height: 50px;
        // width: 50px;
        ion-icon {
            font-size: 40px;
            --padding-start: 0px !important;
        }
    }
}