.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--ion-color-netfly-dark-contrast);
    margin: 10px 5px 5px 5px;
    h3 {
        font-weight: 600;
        font-size: 16px;
    }
    p {
        font-weight: 600;
        font-size: 16px;
        color: var(--ion-color-primary);
    }
}

.scroll-box {
    display: flex;
    overflow: scroll;
    gap: 7px
}

.movie {
    margin-right: 5px;
    p {
        font-weight: 600;
        font-size: 16px;
    }
    ion-label {
        color: rgb(146, 145, 145);
        margin-block: 5px;
    }
    .number_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .number_sons {
            padding: 5px;
            background-color: grey;
            border-radius: 15px;
            color: white;
            font-size: 13px;
            text-wrap: nowrap;
            overflow: hidden;
            word-wrap: break-word;
            text-overflow: ellipsis;
        }
    }
    .bg-img {
        position: relative;
        height: 100%;
        width: 120px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 15px;
        height: 154px;
        text-align: center;
        ion-avatar {
            position: absolute;
            bottom: 0;
            transform: translate(125%, 10%);
            width: 35px;
        }
        p {
            font-size: 12px;
            color: white;
            position: absolute;
            bottom: 5px;
            width: 100%;
        }
    }
}

.bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    height: 154px;
    width: 110px;
    text-align: center;
}

.movie img {
    height: 130px;
    max-width: none;
    border-radius: 30px
}

.scroll-box ion-skeleton-text {
    height: 150px;
    max-width: none;
    border-radius: 20px;
}

.movieCharge {
    height: 100%;
    min-width: 100px;
    margin-left: 5px;
}

.best {
    .movie {
        ion-label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 140px;
            display: block;
        }
    }
}