<div class="recente">
    <div class="box-title">

        <h3>Chansons récentes</h3>
        <p [routerLink]="['all']">Voir plus</p>
    </div>

    <div class="container-scroll">
        <div class="scroll-box" *ngIf="tabSong.length > 0;">
            <div class="movie" *ngFor="let item of tabSong">
                <img class="img-intro" src="assets/icon/gims.png" (click)="playMusic(item)">
                <p>Mon coeur avait raison</p>
            </div>
        </div>
    </div>
    <ng-template>
        <div class="container-scroll">
            <div class="scroll-box">
                <div class="movieCharge" *ngFor="let item of [1,2,3,4,5,6,7]">
                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<div class="album">
    <div class="box-title">

        <h3>Meilleurs albums</h3>
        <p [routerLink]="['all']">Voir plus</p>
    </div>

    <div class="container-scroll">
        <div class="scroll-box" *ngIf="tabSong.length > 0;">
            <div class="movie" *ngFor="let item of tabSong">
                <img class="img-intro" src="assets/icon/gims.png" (click)="playMusic(item)">
                <p>Mon coeur avait raison</p>
                <ion-label>admin</ion-label>
                <div class="number_price">
                    <div class="number_sons">13 chansons</div>
                    <ion-badge color="secondary" mode="ios">$4.99</ion-badge>
                </div>
            </div>
        </div>
        <ng-template>
            <div class="container-scroll">
                <div class="scroll-box">
                    <div class="movieCharge" *ngFor="let item of [1,2,3,4,5,6,7]">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>