<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="logo d-f-c">
      <img src="assets/icon/logo.png" alt="logo">
    </div>
    <h2>Connectez-vous à votre compte</h2>
    <form (submit)="loginPressed()">
      <div class="input">
        <div class="canView d-f-s">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input [(ngModel)]="username" name="username" type="text" label="Username" labelPlacement="floating" required></ion-input>
        </div>
        <div class="canView d-f-s">
          <ion-icon slot="start" name="lock-closed"></ion-icon>
          <ion-input [(ngModel)]="password" name="password" type="password" label="Mot de passe" labelPlacement="floating" required></ion-input>
        </div>
        <div class="d-f-c" style="gap: 10px;">
          <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe">Se souvenir de moi</ion-checkbox>
        </div>
        <ion-text color="danger" *ngIf="errorMessage">
          <p>{{ errorMessage }}</p>
        </ion-text>
        <ion-button expand="block" shape="round" type="submit">
          Se connecter
        </ion-button>
        <p style="margin-bottom: 1rem;" [routerLink]="['/resetpassword']">Mot de passe oublié?</p>
        <!-- Message d'erreur -->
      </div>
    </form>
    <p>Vous n'avez pas encore de compte ?<span [routerLink]="['/register']"> S'inscrire</span></p>
  </div>
</ion-content>