.container {
    margin-top: 2rem;
    padding: 1rem;
    .logo {
        img {
            height: 40px;
        }
    }
    h2 {
        font-weight: 600;
        text-align: center;
    }
    .input {
        .canView {
            padding-inline: 8px;
            margin-bottom: 10px;
            gap: 10px;
            background: #8080800d;
            font-size: 17px;
            border-radius: 10px;
        }
        ion-button {
            margin-block: 2rem;
        }
        p {
            color: var(--ion-color-primary);
        }
    }
    p {
        font-size: 15px;
        text-align: center;
        span {
            color: var(--ion-color-primary);
        }
    }
}