.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-content {
    --padding-top: 1rem;
}

ion-card {
    max-height: 190px;
    background: #f0f5fd1c;
    box-shadow: none;
    width: 90%;
}

.image {
    .content {
        padding: 10%;
        text-align: center;
    }
    h5 {
        color: var(--ion-color-primary);
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        font-weight: 600;
    }
    ion-icon {
        font-size: 50px;
    }
}

.input {
    ion-item {
        --background: transparent;
    }
    .canView {
        padding: 10px;
        margin-bottom: 5px;
        gap: 2px;
        width: 100%;
    }
    ion-icon {
        font-size: 30px;
    }
    .content {
        --background: #8080800d;
        --padding-start: 10px;
        font-size: 20px;
        --border-radius: 10px;
    }
    .contentBlock {
        background: #8080800d;
        border-radius: 10px;
        padding: .6rem;
        width: 100%;
    }
    ion-textarea {
        min-height: 100px;
    }
}

ion-modal#modal-type-id,
ion-modal#modal-public-cible,
ion-modal#modal-placement,
ion-modal#modal-tarifs {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --max-height: 80%;
    --border-radius: 10px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#modal-type-id .wrapper {
    margin-bottom: 10px;
}

.scrollable-list {
    max-height: 50vh; 
    overflow-y: auto; 
  }
  