<ion-header [translucent]="false" class="ion-no-border">
    <ion-toolbar color="">
        <ion-buttons slot="start">
            <img style="height: 40px;" src="../../assets/icon/logo.png" />
        </ion-buttons>
        <ion-buttons shape="round" slot="end">
            <ion-button [routerLink]="['../search']">
                <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="block-btn">
        <ion-buttons slot="start">
            <ion-button shape="round">
                <ion-icon slot="start" name="shuffle"></ion-icon>Aléatoire</ion-button>
            <ion-button shape="round">
                <ion-icon slot="start" name="play"></ion-icon>Lecture</ion-button>
        </ion-buttons>
    </div>
    <div class="container">
        <div class="header d-f-s">
            <h4> 4 Chansons</h4>
            <span id="popover-button">Ascendante<ion-icon name="swap-vertical-outline"></ion-icon>
        </span>
        </div>

        <div class="list_chansons">
            <ion-item *ngFor="let song of [1,1,1,1]">
                <div class="img-detail d-f-s">
                    <ion-thumbnail>
                        <img src="assets/icon/gims.png" />
                    </ion-thumbnail>
                    <div class="title">
                        <h3>Mon coeur avait raison</h3>
                        <p>admin | 3.59</p>
                    </div>
                </div>
                <ion-buttons slot="end">
                    <ion-button class="btn-play">
                        <ion-icon color="primary" slot="icon-only" name="play-circle"></ion-icon>
                    </ion-button>
                    <ion-button>
                        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </div>

    </div>
</ion-content>