<ion-header [translucent]="false" class="ion-no-border">
    <ion-toolbar color="">
        <ion-buttons slot="start">
            <img style="height: 40px;" src="../../assets/icon/logo.png" />
        </ion-buttons>
        <ion-buttons shape="round" slot="end">
            <ion-button [routerLink]="['../search']">
                <ion-icon color="primary" slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="">
    <div class="block-btn-header ">
        <ion-buttons slot="start">
            <ion-button expand="bloc" shape="round">
                <ion-icon slot="start" name="shuffle"></ion-icon>Aléatoire</ion-button>
            <ion-button shape="round" expand="bloc" class="btn-conference">
                <ion-icon slot="start" name="play-circle"></ion-icon>Lecture</ion-button>
        </ion-buttons>
    </div>
    <div class="container">
        <div class="header d-f-s">
            <h4> {{favoris.length}} Favoris</h4>
            <span id="popover-button">Ascendante<ion-icon name="swap-vertical-outline"></ion-icon>
            </span>
        </div>

        <div class="list_chansons">
            <div *ngIf="10 > 1; else ionSkeletonSon">
                <div class="ion-item d-f-s" *ngFor="let song of favoris">
                    <img [src]="song.thumbnail" />
                    <div class="title">
                        <h3>{{song.title}}</h3>
                        <p>{{song.publisher.username}} | {{song.time}}</p>
                    </div>
                    <div class="block-btn">
                        <ion-button class="btn-play">
                            <ion-icon color="primary" slot="icon-only" name="play-circle"></ion-icon>
                        </ion-button>
                        <ion-button (click)="openOptionSound()">
                            <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical-outline"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </div>
            <ng-template #ionSkeletonSon>
                <div class="ion-item d-f" *ngFor="let song of [1,1,1,1]">
                    <ion-thumbnail>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </ion-thumbnail>
                    <div class="title" style="width:150px;">
                        <h3><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></h3>
                        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
                    </div>
                </div>
            </ng-template>
        </div>

    </div>
</ion-content>



<ion-popover trigger="popover-button" [dismissOnSelect]="true">
    <ng-template>
        <ion-content>
            <form action="" method="post">
                <ion-radio-group value="option1">
                    <ion-item>
                        <ion-label>Ascendante</ion-label>
                        <ion-radio color="primary" default value="option2"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Descendante</ion-label>
                        <ion-radio color="primary" value="option3"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Données ajoutées</ion-label>
                        <ion-radio color="primary" value="option3"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </form>
        </ion-content>
    </ng-template>
</ion-popover>