.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-inline: 15px;
    h3 {
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 18px;
        font-weight: 600;
        color: var(--ion-color-primary);
        cursor: pointer;
        ion-icon {
            font-size: 25px;
        }
    }
}

.list_chansons {
    // padding-inline: 1rem;
    .ion-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 1rem;
        .img-detail {
            gap: 15px;
            margin-block: 8px;
        }
        .block-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            ion-button {
                --background: transparent;
                --box-shadow: none;
            }
        }
        img {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            margin-right: 10px;
        }
    }
    .title {
        overflow: hidden;
        h3 {
            font-weight: 900;
            font-size: 18px;
            // word-wrap: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p {
            color: gray;
        }
    }
    .btn-play {
        // height: 50px;
        // width: 50px;
        ion-icon {
            font-size: 40px;
            --padding-start: 0px !important;
        }
    }
}

.block-btn-header {
    padding-inline: 1rem;
    ion-buttons {
        justify-content: space-between;
        gap: 1rem;
        ion-button {
            --background: var(--ion-color-primary);
            color: white;
            text-transform: capitalize;
            font-weight: 800;
            font-size: 17px;
            ion-icon {
                margin-block: 0.5rem;
            }
        }
        .btn-conference {
            --background: #c293e394;
            color: var(--ion-color-primary);
        }
    }
}

ion-popover {
    ion-item {
        width: auto;
    }
}