<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goToRoute()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
            <ion-button id="IsAlertOpen">
                <ion-icon slot="icon-only" name="ellipsis-horizontal-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="img-detail">
            <img src="assets/icon/profil.png" />
            <div class="title d-f-c">
                <h3>Username</h3>
                <ion-icon color="success" name="checkmark-circle"></ion-icon>
            </div>
            <p>Aucune information</p>
        </div>
        <div class="block-btn-header ">
            <ion-buttons slot="start">
                <ion-button expand="bloc" shape="round" (click)="Following()">{{suivre}}</ion-button>
                <ion-button shape="round" expand="bloc" [routerLink]="['/chat',5]">Message</ion-button>
            </ion-buttons>
        </div>

        <div class="recente">
            <div class="box-title d-f-s">
                <h3>Chansons récentes</h3>
                <p [routerLink]="['mymusic','Rencents']" button>Voir plus</p>
            </div>
            <div class="container-scroll">
                <div class="scroll-box">
                    <div class="movie" *ngFor="let item of [1,1,1,1,1,1,1,1]">
                        <img class="img-intro" src="assets/icon/gims.png" (click)="playMusic(item)">
                        <p>Mon coeur avait raison</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="best">
            <div class="box-title d-f-s">
                <h3>Meilleurs Chansons</h3>
                <p [routerLink]="['mymusic','Meilleurs']">Voir plus</p>
            </div>

            <div class="container-scroll">
                <div class="scroll-box">
                    <div class="movie" *ngFor="let item of [1,1,1,1,1,1,1,1]">
                        <img class="img-intro" src="assets/icon/gims.png" (click)="playMusic(item)">
                        <p>
                            <ion-label>On my way - king saha (Lyrical video)</ion-label>
                        </p>
                    </div>
                </div>
            </div>
            <ng-template>
                <div class="container-scroll">
                    <div class="scroll-box">
                        <div class="movieCharge" *ngFor="let item of [1,2,3,4,5,6,7]">
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>

        <div class="album">
            <div class="box-title d-f-s">
                <h3>Meilleurs albums</h3>
                <p [routerLink]="['mymusic','Albums']">Voir plus</p>
            </div>

            <div class="container-scroll">
                <div class="scroll-box">
                    <div class="movie" *ngFor="let item of [[1,'buy'],[1,'free'],]">
                        <img class="img-intro" src="assets/icon/gims.png" (click)="openAlbumDetail(item[1])">
                        <div class="p">Mon coeur avait raison</div>
                        <ion-label>Maitre Gims</ion-label>
                        <div class="number_price">
                            <div class="number_sons">13 chansons</div>
                            <ion-badge color="danger" *ngIf="item[1] === 'buy'">$4.99</ion-badge>
                        </div>
                    </div>
                </div>
                <ng-template>
                    <div class="container-scroll">
                        <div class="scroll-box">
                            <div class="movieCharge" *ngFor="let item of [1,2,3,4,5,6,7]">
                                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
</ion-content>

<ion-toast [duration]="5000" [isOpen]="isFollowers" color="primary" message="Vous suivez maintenant l'utilisateur {{username}}"></ion-toast>
<ion-alert trigger="IsAlertOpen" header="Action sur le profil" [buttons]="alertCashfreeButtons"></ion-alert>