ion-toolbar {
    --background: transparent;
    ion-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.container {
    margin-inline: 15px;
    padding-bottom: 4rem;
    .img-detail {
        text-align: center;
        margin-top: 1rem;
        img {
            height: 150px;
            width: 150px;
            border-radius: 20px;
        }
        .title {
            margin-block: 10px;
            gap: 5px;
            h3 {
                font-weight: 900;
                font-size: 18px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
            }
        }
        p {
            margin-block: 10px;
            color: gray;
            text-align: start;
        }
    }
    .block-btn-header {
        border-bottom: 1px solid #eeeeee2e;
        padding-bottom: 1rem;
        ion-buttons {
            justify-content: space-between;
            gap: 1rem;
            margin-top: 5px;
            ion-button {
                --background: var(--ion-color-primary);
                color: white;
                text-transform: capitalize;
                font-weight: 800;
                font-size: 17px;
                --padding-start: 10px;
                --padding-end: 10px;
                --padding-top: 1rem;
                --padding-bottom: 1rem;
                width: 164px;
                ion-icon {
                    margin-block: 0.5rem;
                }
            }
        }
    }
    .box-title {
        margin: 10px 5px 5px 5px;
        h3 {
            font-weight: 600;
            font-size: 16px;
        }
        p {
            font-weight: 600;
            font-size: 16px;
            color: var(--ion-color-primary);
        }
    }
    .scroll-box {
        display: flex;
        overflow: scroll;
        gap: 7px;
        .movie {
            .number_price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .number_sons {
                    padding: 5px;
                    background-color: grey;
                    border-radius: 15px;
                    color: white;
                    font-size: 13px;
                    text-wrap: nowrap;
                    overflow: hidden;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                }
            }
            img {
                height: 130px;
                max-width: none;
                border-radius: 30px
            }
        }
    }
}