<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/tabs/home">
            <ion-icon aria-hidden="true" name="home"></ion-icon>
            <ion-label>Accueil</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tendance" href="/tabs/tendance">
            <ion-icon aria-hidden="true" name="trending-up-outline"></ion-icon>
            <ion-label>Tendance</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favoris" href="/tabs/favoris">
            <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
            <ion-label>Favoris</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="myliste" href="/tabs/myliste">
            <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
            <ion-label>Ma liste</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profil" href="/tabs/profil">
            <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
            <ion-label>Profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>