<ion-tabs>
  <div class="player" [ngClass]="{'none': musictabOption.isClose}">
    <div class="progress-bar">
      <div>
        <!-- Barre de progression du son -->
        <ion-range
          min="0"
          [max]="duration || 0"
          step="1"
          [(ngModel)]="currentTime"
          (ionChange)="seekTo($event)"
        >
          <ion-label slot="start"
            >{{ currentTime | number:'1.0-0' || 0 }}</ion-label
          >
          <ion-label slot="end">{{ duration | number:'1.0-0' || 0 }}</ion-label>
        </ion-range>
      </div>
    </div>
    <ion-row>
      <ion-col size="2">
        <ion-img
          [src]="currentSong?.thumbnail"
          alt="Cover"
          class="img"
          (click)="goToPlay()"
        >
        </ion-img>
      </ion-col>

      <ion-col size="5" class="d-b" (click)="goToPlay()">
        <b>{{ currentSong?.description }}</b>
        <span>{{ currentSong?.title }}</span>
      </ion-col>

      <ion-col size="5" class="bloc-icon">
        <!-- Bouton Pause/Play -->
        <div *ngIf="isPlaying; else playTemplate">
          <ion-button fill="clear" shape="round" (click)="stopMusic()">
            <ion-icon slot="icon-only" name="pause"></ion-icon>
          </ion-button>
        </div>
        <ng-template #playTemplate>
          <ion-button
            fill="clear"
            shape="round"
            (click)="playMusic(currentSong.audio_location, currentSong.id)"
          >
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </ng-template>

        <!-- Bouton Chanson Suivante -->
        <ion-button fill="clear" shape="round" (click)="playNextSong()">
          <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
        </ion-button>

        <!-- Bouton Chanson Précédente -->
        <ion-button fill="clear" shape="round" (click)="playPreviousSong()">
          <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
        </ion-button>

        <!-- Bouton Fermer (Stop) -->
        <ion-button fill="clear" shape="round" (click)="closePlayer()">
          <ion-icon slot="icon-only" color="dark" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tendance" href="/tabs/tendance">
      <ion-icon aria-hidden="true" name="trending-up"></ion-icon>
      <ion-label>Tendances</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="favoris"
      href="/tabs/favoris"
      (click)="verifierConnexion('favoris')"
    >
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myliste" href="/tabs/myliste">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>ZikBox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="afrozikstore" href="/tabs/afrozikstore">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
      <ion-label>ZikStore</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="profil"
      href="/tabs/profil"
      (click)="verifierConnexion('profil')"
    >
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
