ion-tab-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-self: center;
    --border: none;
    border-radius: 20px 20px 0 0;
    --color-selected: var(--ion-tab-bar-color-selected, var(--ion-color-primary, #e78a2e));
    ion-tab-button {
        background: none;
        margin: -9px;
        ion-ripple-effect {
            color: #e78a2e !important;
        }
    }
}

.player {
    background-color: var(--ion-color-light);
    color: white;
    position: relative;
    bottom: 2rem;
    padding-bottom: 1rem;
    .progress-bar {
        width: 100%;
        height: 5px;
        ion-range {
            height: 0;
            width: 108%;
            // position: relative;
            left: -13px;
            // top: -7px;
            color: white;
        }
    }
    .img {
        border-radius: 15px;
        height: auto;
    }
    .d-b {
        display: block;
        color: var(--ion-color-dark);
        b {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: 600;
            display: block;
        }
        span {
            font-size: small;
            font-weight: 100;
        }
    }
    .bloc-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .first-button {
            position: relative;
            right: -15%;
        }
    }
    ion-button {
        width: min-content;
        ion-icon {
            // color: white;
            size: 10px;
        }
    }
}

.bloc {
    display: block;
}

.none {
    display: none;
}

ion-range {
    --knob-size: 1px;
}


.scrolling-text {
    white-space: nowrap; 
    overflow: hidden; 
    box-sizing: border-box; 
    animation: scroll 10s linear infinite; 
    width: 100%; 
    display: inline-block; 
}
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); /* Commence à droite */
    }
    100% {
      transform: translateX(-100%); /* Finit à gauche */
    }
  }

  ion-tab-bar {
    background: rgba(0, 0, 0, 0.7); /* Fond légèrement sombre */
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Bordure subtile */
    --ion-color-primary: white; /* Couleur des icônes */
    --color: white; /* Couleur du texte */
  }
  
  ion-tab-button {
    --color-selected: #ffffff; /* Couleur du texte actif */
    --ion-color-primary: #ffffff; /* Couleur de l'icône active */
    font-size: 8px; /* Taille du texte */
  }
  
  ion-tab-button[aria-selected="true"] {
    font-weight: bold; /* Mettre en avant l'onglet actif */
  }
  
  ion-icon {
    font-size: 20px; /* Taille des icônes */
  }
  
  