ion-tab-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-self: center;
    --border: none;
    border-radius: 20px 20px 0 0;
    --color-selected: var(--ion-tab-bar-color-selected, var(--ion-color-primary, #e78a2e));
    ion-tab-button {
        background: none;
        margin: -9px;
        ion-ripple-effect {
            color: #e78a2e !important;
        }
    }
}

.player {
    background-color: var(--ion-color-light);
    color: white;
    position: relative;
    bottom: 2rem;
    padding-bottom: 1rem;
    .progress-bar {
        width: 100%;
        height: 5px;
        ion-range {
            height: 0;
            width: 108%;
            // position: relative;
            left: -13px;
            // top: -7px;
            color: white;
        }
    }
    .img {
        border-radius: 15px;
        height: auto;
    }
    .d-b {
        display: block;
        color: var(--ion-color-dark);
        b {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: 600;
            display: block;
        }
        span {
            font-size: small;
            font-weight: 100;
        }
    }
    .bloc-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .first-button {
            position: relative;
            right: -15%;
        }
    }
    ion-button {
        width: min-content;
        ion-icon {
            // color: white;
            size: 10px;
        }
    }
}

.bloc {
    display: block;
}

.none {
    display: none;
}

ion-range {
    --knob-size: 1px;
}

/* Ajoutez ceci dans votre fichier CSS */
.scrolling-text {
    white-space: nowrap; /* Empêche le retour à la ligne */
    overflow: hidden; /* Cache le texte qui déborde */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    animation: scroll 10s linear infinite; /* Animation de défilement */
    width: 100%; /* Assurez-vous que l'élément a une largeur définie */
    display: inline-block; /* Permet à l'élément de s'ajuster à son contenu */
}
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); /* Commence à droite */
    }
    100% {
      transform: translateX(-100%); /* Finit à gauche */
    }
  }