<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mes playlists</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-item button (click)="openCreatePlaylist()">
            <ion-button>
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            <ion-label>Ajouter une nouvelle playlist</ion-label>
        </ion-item>
        <ion-list>
            <div class="img-detail d-f-s" *ngFor="let item of playlist">
                <div class="d-f-c" [routerLink]="['../playlistdetail']">
                <img [src]="item.thumbnail_ready" />
                    <div class="title">
                        <h3>{{item.name}}</h3>
                        <p>{{item.songs}} Chansons</p>
                    </div>
                </div>
                <ion-button (click)="openOptionPlaylist()" fill="clear" shape="round">
                    <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                </ion-button>
            </div>
        </ion-list>
    </div>
</ion-content>