<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Inscription</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <div class="logo d-f-c">
            <img src="assets/icon/logo.png" alt="logo">
        </div>
        <h2>Créer un compte</h2>
        <form action="" method="post">
            <div class="input">
                <div class=" canView d-f-s">
                    <ion-icon slot="start" name="person"></ion-icon>
                    <ion-input type="text" label="Nom d'utilisateur" labelPlacement="floating"></ion-input>
                </div>
                <div class="canView d-f-s">
                    <ion-icon slot="start" name="mail"></ion-icon>
                    <ion-input type="email" label="E-mail" labelPlacement="floating"></ion-input>
                </div>
                <div class="canView d-f-s">
                    <ion-icon slot="start" name="lock-closed"></ion-icon>
                    <ion-input type="password" label="Mot de passe" labelPlacement="floating"></ion-input>
                </div>
                <div class="canView d-f-s">
                    <ion-icon slot="start" name="lock-closed"></ion-icon>
                    <ion-input type="password" label="Confirmer le passe" labelPlacement="floating"></ion-input>
                </div>

                <p>En vous inscrivant vous acceptez nos</p>
                <p style="font-weight: 600;">Conditions d'utilisations</p>

                <ion-button expand="block" shape="round" [routerLink]="['/tabs']">
                    S'inscrire
                </ion-button>
            </div>
        </form>
        <p>Vous avez déjà un colpte ?<span [routerLink]="['/login']"> Se connecter</span></p>
    </div>
</ion-content>