.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

ion-footer {
    --background: var(--ion-background-color);
}

.container {
    height: 90%;
}

ion-range {
    --knob-size: 1px;
}

ion-toolbar {
    --background: transparent;
}