<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Inviter des amis</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list class="ion-margin">
        <ion-item class="ion-no-border">
            <div class="d-f-c">
                <ion-avatar>
                    <img [src]="['assets/icon/people.png']" />
                </ion-avatar>
                <ion-label>
                    Julie
                    <p>679907389</p>
                </ion-label>
            </div>
        </ion-item>

    </ion-list>
</ion-content>