.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    h5 {
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 18px;
        font-weight: 600;
        color: var(--ion-color-primary);
        cursor: pointer;

        ion-icon {
            font-size: 25px;
        }
    }
}

.list_chansons {

    // padding-inline: 1rem;
    .ion-item {
        margin-block: 1rem;

        .img-detail {
            gap: 15px;
            margin-block: 8px;
        }

        .block-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            ion-button {
                --background: transparent;
                --box-shadow: none;
            }
        }

        ion-thumbnail {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            margin-right: 15px;
        }

        ion-skeleton-text {
            background-color: #ffffff14;
        }

        img {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            margin-right: 10px;
        }
    }

    .title {
        overflow: hidden;

        h3 {
            font-weight: 900;
            font-size: 18px;
            // word-wrap: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        p {
            color: gray;
        }
    }

    .btn-play {

        // height: 50px;
        // width: 50px;
        ion-icon {
            font-size: 40px;
            --padding-start: 0px !important;
        }
    }
}