ion-header {
    box-shadow: none;
    border-bottom: 1px solid var(--ion-color-light);
}

.container {
    margin: 10px;
    ion-item {
        --border-color: transparent;
        ion-thumbnail {
            --border-radius: 10px;
            margin-right: 10px;
        }
        ion-label {
            display: flex;
            gap: 4px;
        }
    }
    .bloc-annonce {
        margin-top: 1rem;
        padding: 10px;
        background-color: #5c1fac96;
        border-radius: 20px;
        contain: content;
        h4 {
            font-weight: 600;
            font-size: 16px;
            color: white;
        }
        p {
            color: white;
            font-size: 15px;
            margin: 0;
        }
        ion-img {
            position: relative;
            bottom: -70px;
            // transform: translate(20px, 65px);
        }
        .texte {
            width: 60%;
            ion-button {
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                white-space: nowrap;
                --background: white;
                color: var(--ion-color-primary);
                font-weight: 600;
                margin: 5px 0;
                width: 90%;
                font-size: 13px;
                text-transform: math-auto;
            }
        }
    }
    ion-list {
        margin-top: 1rem;
        ion-item {
            ion-icon {
                font-size: 20px;
            }
        }
    }
}

ion-modal#modal-theme {
    --min-width: 250px;
    --height: 30%;
    --border-radius: 25px;
    padding: 25px;
    ion-item {
        --background: transparent;
    }
}