<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Pamètres</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-item class="ion-no-border">
            <ion-thumbnail>
                <img [src]="['assets/icon/profil.png']" />
            </ion-thumbnail>
            <div>
                <ion-label>
                    Kvnkamla4
                    <ion-icon color="success" name="checkmark-circle"></ion-icon>
                </ion-label>
                <p class="ion-no-margin">{{'Kvnkamla4@gmail.com'}}</p>
            </div>
        </ion-item>
        <div class="bloc-annonce d-f-s">
            <div class="texte">
                <h4>Profiter de tous les avantages</h4>
                <p>
                    Ecouter les chansons avec une meilleure qualité audio, sans restrictions et sans publicités
                </p>
                <ion-button expand="block" shape="round">
                    Obtenir une prime
                </ion-button>
            </div>
            <ion-img [src]="['assets/icon/person1.png']"></ion-img>
        </div>
        <ion-list>
            <ion-item button [routerLink]="['/edituserinfo']">
                <ion-icon slot="start" name="person-outline"></ion-icon>
                <ion-label>Modifier les informations du profil</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/myaccount']">
                <ion-icon slot="start" name="shield-outline"></ion-icon>
                <ion-label>Mon compte</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/devenirartiste']">
                <ion-icon slot="start" name="mic-circle-outline"></ion-icon>
                <ion-label>Devenir artiste</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/settingnotif']">
                <ion-icon slot="start" name="notifications-outline"></ion-icon>
                <ion-label>Notifications</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/userlock']">
                <ion-icon slot="start" name="hand-left-outline"></ion-icon>
                <ion-label>Utilisateurs bloqués</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/myadresse']">
                <ion-icon slot="start" name="location-outline"></ion-icon>
                <ion-label>Mes adresses</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/retraits']">
                <ion-icon slot="start" name="cash-outline"></ion-icon>
                <ion-label>Retraits</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/wallet']">
                <ion-icon slot="start" name="card-outline"></ion-icon>
                <ion-label>Wallet</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/affilies']">
                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                <ion-label>Mes affilés</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/changepassword']">
                <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                <ion-label>Mot de passe</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/auth2fa']">
                <ion-icon slot="start" name="checkbox-outline"></ion-icon>
                <ion-label>Authentification à deux facteurs</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/managesession']">
                <ion-icon slot="start" name="finger-print-outline"></ion-icon>
                <ion-label>Gérer les session</ion-label>
            </ion-item>
            <ion-item button id="open-modal-theme">
                <ion-icon slot="start" name="contrast-outline"></ion-icon>
                <ion-label>Thème</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/00000']">
                <ion-icon slot="start" name="diamond-outline"></ion-icon>
                <ion-label>Interêt</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/00000']">
                <ion-icon slot="start" name="star-half-outline"></ion-icon>
                <ion-label>Evaluer notre application</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/00000']">
                <ion-icon slot="start" name="people-outline"></ion-icon>
                <ion-label>Inviter des amis</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/00000']">
                <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
                <ion-label>Conditions d'utilisations</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/00000']">
                <ion-icon slot="start" name="help-circle-outline"></ion-icon>
                <ion-label>Aide</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/00000']">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                <ion-label>Supprimer le compte</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/00000']">
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                <ion-label>Se déconnecter</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>


<ion-modal id="modal-theme" trigger="open-modal-theme" #modale_theme handleBehavior="cycle">
    <ng-template>
        <ion-header [translucent]="true" class="ion-no-border">
            <ion-toolbar>
                <ion-title>Choisir le thème</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <div class="ion-margin-top">
                <form action="" method="get">
                    <div *ngFor="let item of themeList">
                        <ion-item (click)="selectedTheme(item)" class="ion-no-border">
                            <ion-label>{{item}}</ion-label>
                        </ion-item>
                    </div>
                </form>
            </div>
        </ion-content>
        <ion-footer>
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button (click)="modale_theme.dismiss()" expand="block" fill="clear" shape="round">Fermer</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-footer>
    </ng-template>
</ion-modal>