<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Utilisateurs bloqués</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <h3> {{count}} utilisateurs bloqués pour l'instant </h3>
        <ion-item *ngFor="let block of blocks">
            <ion-avatar slot="start">
                <img [src]="block.cover" alt="Avatar">
            </ion-avatar>
            <ion-label>
                <h2>{{block.name}}</h2>
                <p>{{block.gender_text}}</p>
            </ion-label>
        </ion-item>
</ion-content>