<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Upload Single Song</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="stacked">Nom de la chanson</ion-label>
      <ion-input [(ngModel)]="songTitle" placeholder="Enter song title"></ion-input>
    </ion-item>
  
    <!-- Image Upload -->
    <ion-card button (click)="selectPicture()" class="ion-no-box-shadow">
      <ion-card-content class="image">
        <img *ngIf="isGetImg" [src]="imgPath" alt="Track Image">
        <div class="content" *ngIf="!isGetImg">
          <ion-icon color="primary" slot="start" name="image"></ion-icon>
          <h5>Sélectionner l'image à importer</h5>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-button *ngIf="isGetImg" (click)="clearImage()" class="ion-margin-top">
      <ion-icon slot="start" name="close"></ion-icon>
      Supprimer l'image
    </ion-button>
  
    <!-- Age Restriction Dropdown -->
    <ion-item>
      <ion-label>Restriction d'âge</ion-label>
      <ion-select [(ngModel)]="ageRestriction" placeholder="Sélectionner">
        <ion-select-option value="0">All ages can listen to this song</ion-select-option>
        <ion-select-option value="1">Only +18</ion-select-option>
      </ion-select>
    </ion-item>
  
    <!-- Download Permission Dropdown -->
    <ion-item>
      <ion-label>Téléchargement autorisé</ion-label>
      <ion-select [(ngModel)]="downloadPermission" placeholder="Sélectionner">
        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Tags</ion-label>
      <ion-input [(ngModel)]="tags" placeholder="Tags (comma separated)"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Genre</ion-label>
      <ion-input [(ngModel)]="genre" placeholder="Enter genre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Prix</ion-label>
      <ion-input [(ngModel)]="price" placeholder="Enter price"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea [(ngModel)]="description" placeholder="Enter song description"></ion-textarea>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Lyrics</ion-label>
      <ion-textarea [(ngModel)]="lyrics" placeholder="Enter song lyrics"></ion-textarea>
    </ion-item>
  
    <ion-button expand="block" shape="round" class="ion-margin" (click)="createTrack()">
      Créer la chanson
    </ion-button>
  </ion-content>
  