<ion-content [fullscreen]="false">
    <div class="bg-header" [ngStyle]="{'background-image': 'linear-gradient(#00000060, black), url(assets/icon/gims.png)'}">
        <div class="header d-f">
            <ion-buttons slot="start">
                <ion-button fill="clear" (click)="goToRoute()">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
            <h5>Information sur la chanson</h5>
        </div>
        <div class="d-f details-contain">
            <img [src]="currentSong?.thumbnail" alt="" style="height: 55px; margin-top: 3rem;" />
            <div class="detail-header">
                <p>{{currentSong.title}}</p>
                <p class="ion-text">Par <span>{{currentSong.publisher.username}}</span></p>
                <div class="d-f ion-align-items-center">
                    <ion-icon class="icon-layers" name="layers-outline" slot="start"></ion-icon>
                    <ion-label style="font-weight: 700; color: white;">Other</ion-label>
                </div>
                <div class="flex_box">
                    <ion-button shape="round" fill="clear">
                        <ion-icon slot="icon-only" color="danger" name="heart"></ion-icon>
                        <ion-label>{{currentSong.count_likes}}</ion-label>
                    </ion-button>
                    <ion-button shape="round" fill="clear">
                        <ion-icon slot="icon-only" color="warning" name="star"></ion-icon>
                        <ion-label>{{currentSong.count_favorite}}</ion-label>
                    </ion-button>
                    <ion-button shape="round" fill="clear">
                        <ion-icon slot="icon-only" color="success" name="play"></ion-icon>
                        <ion-label> {{currentSong.count_dislikes}}</ion-label>
                    </ion-button>
                    <ion-button shape="round" fill="clear">
                        <ion-icon slot="icon-only" color="primary" name="send"></ion-icon>
                        <ion-label>{{currentSong.count_shares}}</ion-label>
                    </ion-button>
                    <ion-button shape="round" fill="clear">
                        <ion-icon slot="icon-only" class="icon-sms" name="chatbubble-ellipses-outline"></ion-icon>
                        <ion-label>{{currentSong.count_comment}}</ion-label>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-detail">
        <ion-list>
            <ion-row>
                <ion-label>A propos</ion-label>
                <p>{{currentSong.description}}
                </p>
            </ion-row>
            <ion-row>
                <ion-label>Mots clés</ion-label>
                <p>#{{ tags.join(' #') }}</p>
            </ion-row>
            <ion-row>
                <ion-label>Paroles</ion-label>
                <p class="parole">{{currentSong.lyrics ? 'disponible' : 'non disponible'}}</p>
            </ion-row>
            <ion-row>
                <ion-label>Autres détails</ion-label>
                <div class="other-details">
                    <table>
                        <tr>
                            <td>Ajouté</td>
                            <th>{{currentSong.time_formatted}}</th>
                        </tr>
                        <tr>
                            <td>Restriction d'âge</td>
                            <th>{{currentSong.age_restriction}} ans</th>
                        </tr>
                        <tr>
                            <td>Achat requis</td>
                            <th>{{ currentSong.price ? 'oui' : 'non' }}</th>
                        <tr>
                            <td>Durée</td>
                            <th>{{currentSong.duration}}</th>
                        </tr>
                    </table>
                </div>
            </ion-row>
        </ion-list>
    </div>
</ion-content>