<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mes achats</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-list>
            <div *ngFor="let item of purchases">
                <ion-item-sliding>
                    <ion-item button (click)="selectArticle(item)">
                        <ion-card>
                            <div class="badge">
                                <ion-badge color="danger" mode="ios">Événement</ion-badge>
                            </div>
                            <img [src]="item.songData ? item.songData.thumbnail : item.event.image" style="width: 100%;" />
                            <div class="footer">
                                <div class="info">
                                    <p>{{item.title}}</p>
                                </div>
                                <p>Prix: ${{item.final_price}} - Date: {{item.timestamp}}</p>
                            </div>
                        </ion-card>
                    </ion-item>

                    <ion-item-options side="end">
                        <ion-item-option color="danger" (click)="deleteEvent(item.id)">
                            Supprimer
                        </ion-item-option>
                        <ion-item-option color="secondary" (click)="editEvent(item)">
                            Éditer
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
        </ion-list>
    </div>
</ion-content>
