<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <div class="bloc_search">
                <ion-searchbar class="ion-no-border" color="" placeholder="Recherche"></ion-searchbar>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-title class="ion-text-center">Aucunne station trouver pour l'instant</ion-title>
</ion-content>