.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-content {
    p {
        margin: 0 2.5rem;
        text-align: center;
    }
}

ion-card {
    max-height: 190px;
    background: #dfe9f512;
    box-shadow: none;
    width: 90%;
}

.image {
    .content {
        padding: 10%;
        text-align: center;
    }
    h5 {
        color: var(--ion-color-primary);
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        font-weight: 600;
    }
    ion-icon {
        font-size: 50px;
    }
}

.input {
    .canView {
        padding: 10px;
        margin-bottom: 5px;
        gap: 2px;
    }
    ion-icon {
        font-size: 30px;
    }
    .content {
        --background: #8080800d;
        --padding-start: 10px;
        font-size: 20px;
        --border-radius: 10px;
    }
    ion-textarea {
        min-height: 100px;
    }
    ion-item {
        --border-color: transparent;
        margin-bottom: 1rem;
    }
}

ion-modal#modal-title {
    --min-width: 250px;
    --height: 80%;
    --border-radius: 25px;
    padding: 25px;
}