<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AfroZikStore</ion-title>
    <ion-buttons shape="round" slot="end">
      <ion-button [routerLink]="['/cart']">
        <ion-badge *ngIf="cartItemCount > 0" color="danger" class="cart-badge"
          >{{ cartItemCount }}</ion-badge
        >
        <ion-icon color="primary" slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bloc_news">
    <!-- <ion-list>
            <ion-item button>
                <ion-icon slot="start" color="primary" name="storefront"></ion-icon>
                <ion-label>Parcourir</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['../../listachat']">
                <ion-icon slot="start" color="primary" name="bag-handle"></ion-icon>
                <ion-label>Mes achats</ion-label>
            </ion-item>
        </ion-list> -->
    <ion-segment scrollable scrollHide mode="md" [(ngModel)]="selectedSegment">
      <ion-segment-button value="chansons"
        ><ion-icon name="musical-notes"></ion-icon>Chansons</ion-segment-button
      >
      <ion-segment-button value="albums"
        ><ion-icon name="albums"></ion-icon>Albums</ion-segment-button
      >
      <ion-segment-button value="BestVendeur"
        ><ion-icon name="trophy"></ion-icon>Meilleures
        vendeur</ion-segment-button
      >
      <ion-segment-button value="produits"
        ><ion-icon name="cart"></ion-icon>Produits</ion-segment-button
      >
    </ion-segment>

    <ng-container [ngSwitch]="selectedSegment">
      <ng-template ngSwitchCase="chansons">
        <ion-card *ngFor="let item of latest">
          <ion-card-content style="padding: 7px; position: relative">
            <div class="d-f">
              <ion-thumbnail>
                <img [src]="item.thumbnail" />
                <!-- Bouton Play en position absolue -->
                <ion-button
                  class="play-btn"
                  fill="clear"
                  (click)="playPreview(item)"
                >
                  <ion-icon
                    slot="icon-only"
                    name="play-circle-outline"
                  ></ion-icon>
                </ion-button>
              </ion-thumbnail>
              <ion-item>
                <div>
                  <ion-label>{{ item.title }}</ion-label>
                </div>
              </ion-item>
            </div>
            <div class="footerSon d-f-s">
              <p>{{ item.duration }}</p>
              <p>
                <ion-button
                  shape="round"
                  fill="clear"
                  (click)="toggleFavorite(item.audio_id)"
                >
                  <ion-icon
                    slot="icon-only"
                    [name]="love ? 'star' : 'star-outline'"
                    [color]="love ? 'warning' : 'yellow'"
                  ></ion-icon>
                </ion-button>
              </p>
              <div class="bloc-button d-f-c">
                <ion-button class="add" shape="round" (click)="Buy()" style="margin-right: 35px;">Acheter</ion-button>
              </div>
              <!-- <ion-button shape="round" fill="clear" id="popover-button">
                <ion-icon
                  slot="start"
                  name="ellipsis-horizontal-outline"
                ></ion-icon>
              </ion-button> -->
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-label
              >Gamme de prix : {{ valueRangeMin }} - {{ valueRangeMax
              }}</ion-label
            >
            <ion-range
              dualKnobs="true"
              min="0"
              max="100"
              step="1"
              [value]="{ lower: valueRangeMin, upper: valueRangeMax }"
              (ionChange)="rangeChange($event)"
            ></ion-range>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-label>Genres</ion-label>
            <ion-item *ngFor="let genre of genreList">
              <ion-checkbox
                slot="start"
                (ionChange)="toggleGenre(genre.name, $event.detail.checked)"
              >
              </ion-checkbox>
              <ion-label>{{ genre.name }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ng-template>

      <ng-template ngSwitchCase="albums">
        <div class="div-row">
          <ion-card
            *ngFor="let album of filteredAlbums | slice: 0:albumsToShow"
          >
            <ion-card-content>
              <ion-thumbnail>
                <img [src]="album.thumbnail" />
                <div class="bloc-button d-f-c">
                  <ion-button class="add" shape="round">Acheter</ion-button>
                </div>
              </ion-thumbnail>
              <h3 (click)="selectAlbum(album)">{{ album.title }}</h3>
              <p>{{ album.publisher.username }}</p>
              <p>
                <b>$ {{ album.price }} | {{ album.count_songs }} Titre(s)</b>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
        <div style="width: 100%; text-align: center; margin-block: 2rem">
          <ion-button shape="round" (click)="loadMoreAlbums()"
            >Charger plus</ion-button
          >
        </div>
        <ion-card>
          <div class="d-f">
            <div class="content-iconPrice d-f-c" style="margin: 1rem">
              <ion-icon slot="start" name="cash"></ion-icon>
            </div>
            <h3>Prix</h3>
          </div>
          <ion-card-content>
            <ion-label>
              Gamme de prix : ${{ valueRangeMin }} - ${{ valueRangeMax }}
            </ion-label>
            <ion-range
              min="0"
              max="100"
              [dualKnobs]="true"
              [value]="{ lower: valueRangeMin, upper: valueRangeMax }"
              snaps="true"
              pin="true"
              color="primary"
              (ionChange)="rangeChange($event)"
            ></ion-range>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <div class="d-f">
            <div class="content-iconGenre d-f-c">
              <ion-icon slot="start" name="contrast"></ion-icon>
            </div>
            <h3>Genres</h3>
          </div>
          <div class="ion-margin-top">
            <ion-item *ngFor="let genre of genreList">
              <ion-label>{{ genre.name }}</ion-label>
              <ion-checkbox
                slot="start"
                (ionChange)="toggleGenre(genre.name, $event.detail.checked)"
              ></ion-checkbox>
            </ion-item>
          </div>
        </ion-card>
      </ng-template>

      <ng-template ngSwitchCase="BestVendeur">
        <div #Meilleures Chanson>
          <ion-item>
            <div class="d-f">
              <div class="content-iconPrice d-f-c">
                <ion-icon slot="start" name="trophy"></ion-icon>
              </div>
              <h3>Meilleures chansons</h3>
            </div>
          </ion-item>
          <ion-card *ngFor="let item of latest">
            <ion-card-content style="padding: 7px; position: relative">
              <div class="d-f">
                <ion-thumbnail>
                  <img [src]="item.thumbnail" />
                  <!-- Bouton Play en position absolue -->
                  <ion-button
                    class="play-btn"
                    fill="clear"
                    (click)="playPreview(item)"
                  >
                    <ion-icon
                      slot="icon-only"
                      name="play-circle-outline"
                    ></ion-icon>
                  </ion-button>
                </ion-thumbnail>
                <ion-item>
                  <div>
                    <ion-label>{{ item.title }}</ion-label>
                  </div>
                </ion-item>
              </div>
              <div class="footerSon d-f-s">
                <p>{{ item.duration }}</p>
                <p>
                  <ion-button
                    shape="round"
                    fill="clear"
                    (click)="toggleFavorite(item.audio_id)"
                  >
                    <ion-icon
                      slot="icon-only"
                      [name]="love ? 'star' : 'star-outline'"
                      [color]="love ? 'warning' : 'yellow'"
                    ></ion-icon>
                  </ion-button>
                </p>
                <div class="bloc-button d-f-c">
                  <ion-button class="add" shape="round">Acheter</ion-button>
                </div>
                <!-- <ion-button shape="round" fill="clear" id="popover-button">
                  <ion-icon
                    slot="start"
                    name="ellipsis-horizontal-outline"
                  ></ion-icon>
                </ion-button> -->
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <div #Meilleures Albums>
          <ion-item>
            <div class="d-f">
              <div class="content-iconPrice d-f-c">
                <ion-icon slot="start" name="albums"></ion-icon>
              </div>
              <h3>Meilleurs albums</h3>
            </div>
          </ion-item>
          <div class="div-row">
            <ion-card
              *ngFor="let album of topalbums | slice:0:albumsToShow"
              (click)="selectAlbum(album)"
            >
              <ion-card-content>
                <ion-thumbnail>
                  <img [src]="album.thumbnail" />
                  <div class="bloc-button d-f-c">
                    <ion-button class="add" shape="round">Acheter</ion-button>
                  </div>
                </ion-thumbnail>
                <h3>{{ album.title }}</h3>
                <p>
                  <b>$ {{ album.price }} | {{ album.count_songs }} Titre(s)</b>
                </p>
              </ion-card-content>
            </ion-card>
          </div>

          <!-- Bouton Charger plus -->
          <div
            style="width: 100%; text-align: center; margin-block: 2rem"
            *ngIf="hasMoreAlbums()"
          >
            <ion-button shape="round" (click)="loadMoreAlbums()">
              Charger plus
            </ion-button>
          </div>

          <ng-template #ionSkeletonAlbum>
            <div class="container-scroll">
              <div class="scroll-box">
                <div class="movie" *ngFor="let item of [1,2,3,4,5,6,7]">
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                  </ion-thumbnail>
                  <p>
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 100px"
                    ></ion-skeleton-text>
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </div>

        <div #Produit Phare>
          <ion-item>
            <div class="d-f">
              <div class="content-iconPrice d-f-c">
                <ion-icon slot="start" name="cart"></ion-icon>
              </div>
              <h3>Produits phares</h3>
            </div>
          </ion-item>
          <div class="div-row" *ngIf="filteredProducts.length > 0">
            <ion-card *ngFor="let product of filteredProducts">
              <ion-card-content>
                <ion-thumbnail>
                  <img
                    [src]="product.thumbnail"
                    alt="{{ product.title }}"
                    (click)="goToProductDetail(product.id)"
                  />
                  <!-- <div class="bloc-button d-f-c">
                    <div class="bloc-button d-f-c">
                      <ion-button
                        class="add"
                        shape="round"
                        (click)="addToCart(product)"
                        >panier</ion-button
                      >
                    </div>
                  </div> -->
                </ion-thumbnail>
                <h3>{{ product.title}}</h3>
                <!-- <p>Admin</p> -->
                <p><b>{{ product.price | currency }}</b></p>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ng-template>

      <ng-template ngSwitchCase="produits">
        <!-- <div class="d-f-c" style="height: 200px">
          <div style="text-align: center">
            <ion-icon
              slot="start"
              name="musical-notes"
              style="font-size: 5rem"
            ></ion-icon>
            <p style="font-size: 20px">Plus de chansons</p>
          </div>
        </div> -->
        <!-- Liste des produits ou message si aucun produit -->
        <div *ngIf="filteredProducts.length === 0" class="ion-margin-top">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <ion-icon
                name="sad-outline"
                style="font-size: 3rem; color: gray"
              ></ion-icon>
              <p style="font-size: 18px; color: gray">
                Aucun produit disponible.
              </p>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- <ion-list *ngIf="filteredProducts.length > 0">
          <ion-item *ngFor="let product of filteredProducts">
            <ion-thumbnail slot="start">
              <img
                [src]="product.thumbnail"
                alt="{{ product.title }}"
                (click)="goToProductDetail(product.id)"
              />
            </ion-thumbnail>
            <ion-label>
              <h2>{{ product.title }}</h2>
              <p>{{ product.price | currency }}</p>
            </ion-label>
            <div class="bloc-button d-f-c">
              <ion-button class="add" shape="round" (click)="addToCart(product)"
                >panier</ion-button
              >
            </div> 
          </ion-item>
        </ion-list> -->
        <div #Produit Phare>
          <ion-item>
            <div class="d-f">
              <div class="content-iconPrice d-f-c">
                <ion-icon slot="start" name="cart"></ion-icon>
              </div>
              <h3>Produits phares</h3>
            </div>
          </ion-item>
          <div class="div-row" *ngIf="filteredProducts.length > 0">
            <ion-card *ngFor="let product of filteredProducts">
              <ion-card-content>
                <ion-thumbnail>
                  <img
                    [src]="product.thumbnail"
                    alt="{{ product.title }}"
                    (click)="goToProductDetail(product.id)"
                  />
                  <!-- <div class="bloc-button d-f-c">
                    <div class="bloc-button d-f-c">
                      <ion-button
                        class="add"
                        shape="round"
                        (click)="addToCart(product)"
                        >panier</ion-button
                      >
                    </div>
                  </div> -->
                </ion-thumbnail>
                <h3>{{ product.title}}</h3>
                <!-- <p>Admin</p> -->
                <p><b>{{ product.price | currency }}</b></p>
              </ion-card-content>
            </ion-card>
          </div>
        </div>

        <!-- Carte de filtrage par prix -->
        <ion-card>
          <div class="d-f">
            <div class="content-iconPrice d-f-c">
              <ion-icon slot="start" name="cash"></ion-icon>
            </div>
            <h3>Prix</h3>
          </div>
          <ion-card-content>
            <ion-label
              >Gamme de prix : ${{ priceRange.min }} - ${{ priceRange.max
              }}</ion-label
            >
            <ion-range
              [min]="500"
              [max]="10000"
              [(ngModel)]="priceRange"
              dualKnobs="true"
              pin="true"
              color="primary"
              (ionChange)="onPriceRangeChange()"
            >
            </ion-range>
          </ion-card-content>
        </ion-card>

        <!-- Carte de filtrage par catégorie -->
        <ion-card>
          <div class="d-f">
            <div class="content-iconGenre d-f-c">
              <ion-icon slot="start" name="copy"></ion-icon>
            </div>
            <h3>Catégorie</h3>
          </div>
          <div class="ion-margin-top">
            <form (ngSubmit)="applyFilters()">
              <ion-item *ngFor="let category of categories">
                <ion-label>{{ category }}</ion-label>
                <ion-checkbox
                  slot="start"
                  [checked]="selectedCategories.includes(category)"
                  (ionChange)="onCategoryChange($event, category)"
                ></ion-checkbox>
              </ion-item>
              <ion-button expand="block" type="submit" color="primary"
                >Appliquer les filtres</ion-button
              >
            </form>
          </div>
        </ion-card>
      </ng-template>
    </ng-container>
  </div>

  <ion-popover trigger="popover-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-item button>
        <ion-label>Ajouter à la playList</ion-label>
      </ion-item>
      <ion-item button>
        <ion-label>Partager</ion-label>
      </ion-item>
    </ng-template>
  </ion-popover>
</ion-content>
