<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>AfroZikStore</ion-title>
        <ion-buttons shape="round" slot="end">
            <ion-button [routerLink]="['/cart']">
                <ion-icon color="primary" slot="icon-only" name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="bloc_news">
        <ion-list>
            <!-- <ion-item button>
                <ion-icon slot="start" color="primary" name="storefront"></ion-icon>
                <ion-label>Parcourir</ion-label>
            </ion-item> -->
            <ion-item button [routerLink]="['../../listachat']">
                <ion-icon slot="start" color="primary" name="bag-handle"></ion-icon>
                <ion-label>Mes achats</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>