<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Changer le mot de passe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="input">
        <!-- Champ pour le mot de passe actuel -->
        <div class="canView d-f-s">
            <ion-input 
                type="password" 
                label="Mot de passe actuel" 
                labelPlacement="floating" 
                class="content" 
                [(ngModel)]="currentPassword" 
                required>
            </ion-input>
        </div>

        <!-- Champ pour le nouveau mot de passe -->
        <div class="canView d-f-s">
            <ion-input 
                type="password" 
                label="Nouveau mot de passe" 
                labelPlacement="floating" 
                class="content" 
                [(ngModel)]="newPassword" 
                required>
            </ion-input>
        </div>

        <!-- Champ pour la confirmation du nouveau mot de passe -->
        <div class="canView d-f-s">
            <ion-input 
                type="password" 
                label="Confirmer le nouveau mot de passe" 
                labelPlacement="floating" 
                class="content" 
                [(ngModel)]="confirmPassword" 
                required>
            </ion-input>
        </div>

        <!-- Message d'aide pour la réinitialisation -->
        <p>Si vous avez oublié votre mot de passe, vous pouvez le réinitialiser à partir d'ici</p>

        <!-- Bouton pour sauvegarder le mot de passe -->
        <ion-button 
            expand="block" 
            shape="round" 
            (click)="updatePassword()" 
            [disabled]="!currentPassword || !newPassword || !confirmPassword">
            Sauvegarder
        </ion-button>
    </div>
</ion-content>
