.input {
    padding: 1rem;
    .canView {
        padding: 10px;
        margin-bottom: 5px;
        gap: 2px;
    }
    .content {
        --background: #8080800d;
        --padding-start: 10px;
        font-size: 18px;
        --border-radius: 10px;
    }
}