<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Changer le mot passe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="input">
        <div class="canView d-f-s">
            <ion-input type="password" label="Mot de passe actuel" labelPlacement="floating" class="content"></ion-input>
        </div>
        <div class="canView d-f-s">
            <ion-input type="password" label="Nouveau de passe actuel" labelPlacement="floating" class="content"></ion-input>
        </div>
        <div class="canView d-f-s">
            <ion-input type="password" label="Confirmer le passe actuel" labelPlacement="floating" class="content"></ion-input>
        </div>
        <p>Si vous avez oublié votre mot de passe, vous pouvez le réinitialiser à partir d'ici</p>
        <ion-button expand="block" shape="round">
            Sauvegarder
        </ion-button>
    </div>
</ion-content>