<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Reglage</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item class="ion-margin">
        <ion-label>Quelqu'un m'a suivi</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label>Quelqu'un a/n'a pas aimé une de mes chansons</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label>Quelqu'un a donné son avis sur une de mes chansons</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label>Quelqu'un a aimé un de mes commentaires</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label>Approuver/Désaprouver les demandes d'artistes</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label>Approuver/Désaprouver les demandes de paiement bancaire</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label>L'un de mes artistes a mis en ligne une nouvelle chanson</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label>Un de mes abonnées m'a mentionné dans un commentaires</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin">
        <ion-label>Un de mes abonnées m'a mentionné dans une réponse à un commentaires</ion-label>
        <ion-toggle aria-label="Primary toggle" [enableOnOffLabels]="true" color="primary" [checked]="true" slot="end"></ion-toggle>
    </ion-item>
</ion-content>