<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Mettre à jour le profil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <form (ngSubmit)="updateProfile()">
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input [(ngModel)]="user.name" name="name" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">À propos de moi</ion-label>
        <ion-textarea [(ngModel)]="user.about_me" name="about_me"></ion-textarea>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Facebook</ion-label>
        <ion-input [(ngModel)]="user.facebook" name="facebook"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Site Web</ion-label>
        <ion-input [(ngModel)]="user.website" name="website"></ion-input>
      </ion-item>
  
      <ion-button type="submit" expand="block" shape="round">
        Sauvegarder les modifications
      </ion-button>
    </form>
  </ion-content>
  