<!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Artistes</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshArtists($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-outline"
      refreshingSpinner="bubbles"
      refreshingText="Mise à jour..."
    ></ion-refresher-content>
  </ion-refresher>
  <div>
    <div *ngIf="artists.length > 0; else ionSkeletonArtist">
      <div
        class="d-f-s item"
        *ngFor="let artist of artists"
        (click)="artistDetail(artist)"
      >
        <div class="d-f-s logo-title">
          <ion-avatar slot="start">
            <img [src]="artist.avatar ? artist.avatar : artist.cover" />
          </ion-avatar>
          <div class="detail">
            <h5>
              {{ artist.name.length > 10 ? (artist.name | slice: 0: 8) + '...' :
              artist.name }}
            </h5>
            <p>artists</p>
          </div>
        </div>
        <ion-button
          *ngIf="artist.id !== userId"
          expand="block"
          shape="round"
          style="font-size: 8px"
          [color]="artist.isFollowing ? 'danger' : 'primary'"
          (click)="toggleFollow(artist)"
        >
          {{ artist.isFollowing ? 'Ne plus suivre' : 'Suivre' }}
        </ion-button>
      </div>
    </div>

    <ng-template #ionSkeletonArtist>
      <div
        class="ion-item d-f"
        style="margin-bottom: 1rem"
        *ngFor="let song of [1,1,1,1]"
      >
        <div class="d-f-s logo-title skel">
          <ion-avatar slot="start">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-avatar>
          <div class="detail" style="width: 150px">
            <h5>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
            </h5>
            <p>
              <ion-skeleton-text
                animated
                style="width: 100%"
              ></ion-skeleton-text>
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
