<ion-list>
    <div class="d-f-s item" *ngFor="let artist of artists">
        <div class="d-f-s logo-title" [routerLink]="['/artist-profil', artist.id]">
            <ion-avatar slot="start">
                <img [src]="artist.avatar" />
            </ion-avatar>
            <div class="detail">
                <h5>{{ artist.name }}</h5>
                <p>artists</p>
            </div>
        </div>
        <ion-button expand="block" shape="round">
            Suivre
        </ion-button>
    </div>
</ion-list>