.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-header {
    // padding-top: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 1rem;

    .header {
        background: transparent;

        ion-buttons {
            justify-content: flex-end;
        }
    }

    .item {
        margin-inline: 5px;

        .btn-setting {
            min-height: 30px;
            min-width: 30px;
            position: relative;
            transform: translateX(10px);
        }
    }

    .block-edit-settings {
        border: 1px solid var(--ion-color-primary);
        border-radius: 20px;
        position: relative;
        color: white;

        p {
            margin: 0;
            font-size: 15px;
        }

        ion-button {
            margin: 0;

            ion-icon {
                color: white;
            }
        }
    }

    ion-label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: white;
        font-weight: 600;
        margin-top: 7px;

        ion-icon {
            border-radius: 50%;
        }
    }

    ion-text {
        color: white;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-block: 1rem;
    }
}

ion-segment {
    --background: black;

    ion-segment-button {
        text-transform: capitalize;
        font-size: 14px;
        --color: white !important;
        --indicator-color: none;
        --background-checked: white;
        font-weight: 600;
        ;
    }
}

.logo {
    // margin: 10px;
    width: 100px;
    height: 100px;
}

.p {
    margin-top: 5rem;
    height: 50%;
    font-weight: 700;
}

.movie {
    margin-right: 5px;

    p {
        font-weight: 600;
        font-size: 16px;
    }

    ion-label {
        margin-block: 5px;
    }

    .number_price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .number_sons {
            padding: 5px;
            background-color: grey;
            border-radius: 15px;
            color: white;
            font-size: 13px;
            text-wrap: nowrap;
            overflow: hidden;
            word-wrap: break-word;
            text-overflow: ellipsis;
        }
    }

    .bg-img {
        position: relative;
        height: 100%;
        width: 120px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 15px;
        height: 154px;
        text-align: center;

        ion-avatar {
            position: absolute;
            bottom: 0;
            transform: translate(125%, 0);
            width: 35px;
        }

        p {
            font-size: 12px;
            color: white;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}

.movie img {
    height: 130px;
    max-width: none;
    border-radius: 30px
}

.list_chansons {

    padding-inline: 1rem;

    .ion-item {
        margin-block: 1rem;

        .img-detail {
            gap: 15px;
            margin-block: 8px;
        }

        .block-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            ion-button {
                --background: transparent;
                --box-shadow: none;
            }
        }

        ion-thumbnail {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            margin-right: 15px;
        }

        ion-skeleton-text {
            background-color: #ffffff14;
        }

        img {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            margin-right: 10px;
        }
    }

    .title {
        overflow: hidden;

        h3 {
            font-weight: 900;
            font-size: 13px;
            // word-wrap: break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        p {
            color: gray;
        }
    }

    .btn-play {

        // height: 50px;
        // width: 50px;
        ion-icon {
            font-size: 40px;
            --padding-start: 0px !important;
        }
    }
}

.list_albums {
    .img-detail {
        gap: 15px;
        --border-color: transparent;
        margin-bottom: 6px;

        .bg-album {
            position: relative;
            display: inline-block;

            .background-image {
                min-width: 100px;
                max-width: 185px;
                width: 100%;
                border-radius: 15px;
            }

            .orange-disc {
                position: absolute;
                top: 50%;
                left: 65%;
                width: 100%;
                height: 90%;
                background-color: var(--ion-color-primary);
                border-radius: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }

            .play-icon {
                position: absolute;
                bottom: 20px;
                right: 20px;
                font-size: 30px;
                transform: translate(50%, 50%);
                z-index: 2;
            }
        }

        .bg-album-skel {
            ion-thumbnail {
                height: 200px;
                width: 200px;
                border-radius: 20px;
                margin-right: 15px;
            }
        }

        ion-skeleton-text {
            background-color: #ffffff14;
        }

        ion-thumbnail {
            height: auto;
            max-width: 110px;
            max-height: 110px;
            width: auto;
            --border-radius: 20px;
            // width: 50%;
            // height: 90%;
            // min-height: 100px;
        }

        .details {
            margin-left: 2rem;

            .info {
                display: table-caption;

                // flex-wrap: wrap;
                // justify-content: space-between;
                // align-items: center;
                // gap: 10px;
                ion-badge {
                    margin-bottom: 3px;
                }
            }
        }

        .title {
            margin-bottom: 5px;

            h3 {
                font-weight: 800;
                font-size: 14px;
                margin: 0;
                word-wrap: break-word;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            p {
                color: gray;
                margin: 0;
                margin-block: 5px;
            }
        }
    }

    .item-skel {
        --background: transparent;
    }

    ion-buttons {
        .btn-play {
            height: 50px;
            width: 50px;

            ion-icon {
                font-size: 40px;
                --padding-start: 0px !important;
            }
        }
    }
}


.img-detail {
    margin-top: 1rem;

    img {
        height: 100px;
        width: 100px;
        border-radius: 20px;
        margin-left: 10px;
    }

    .title {
        overflow: hidden;
        margin-left: 10px;

        h3 {
            font-weight: 900;
            font-size: 18px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        p {
            color: gray;
        }
    }
}

.envénement {
    ion-card {
        padding: 6px;
        box-shadow: 0px 3px 9px -8px;
        margin-top: 1rem;

        .badge {
            text-align: end;
            position: absolute;
            width: 100%;
            right: 15px;
            top: 15px;
        }

        ion-img {
            --border-radius: 10px;
        }

        .footer {
            p {
                margin-bottom: 1rem;
            }

            .info {
                margin-block: 5px;

                p {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            p {
                color: var(--ion-color-dark);
                font-size: 15px
            }
        }
    }
}