.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloc_popular_playlist {
    padding: 1rem;
    .scroll-box {
        display: flex;
        overflow: scroll;
        gap: 7px;
        .movie img {
            height: 115px;
            max-width: none;
            border-radius: 30px
        }
    }
}

ion-card {
    padding: 6px;
    box-shadow: 0px 3px 9px -8px;
    .box-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 5px 5px 5px;
        h3 {
            font-weight: 600;
            font-size: 19px;
            color: var(--ion-color-dark);
        }
        p {
            font-weight: 600;
            font-size: 16px;
            color: var(--ion-color-primary);
        }
    }
    img {
        border-radius: 10px;
    }
    .footer {
        .info {
            margin-block: 5px;
            ion-label {
                font-size: 15px;
                color: gray;
            }
        }
        p {
            color: var(--ion-color-dark);
            font-size: 20px
        }
    }
}