<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Derniers téléchargement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="list_chansons">
      <div class="ion-item" *ngFor="let song of downloadedMusic; let i = index">
        <img src="assets/icon/gims.png" />
        <!-- <img [src]="getImageSrc(song.imageFile)" /> -->
        <div class="ion-item" *ngFor="let song of downloadedMusic">
          <img [src]="''" />
          <div class="title">
            <h3>{{song.imageFile}}</h3>
            <p>admin | {{song.duration}}</p>
          </div>
          <div class="block-btn">
            <ion-button class="btn-play" (click)="loadsong(downloadedMusic, i)">
              <ion-icon color="primary" slot="icon-only" name="play-circle"></ion-icon>
            </ion-button>
            <ion-button (click)="openOptionSound()">
              <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>