<ion-content [fullscreen]="true">
  <div class="bg-header" [ngStyle]="{'background-image': 'url(' + cover + ')'}">
    <div class="back-boutton d-f-s">
      <ion-buttons slot="start" style="color:white">
        <ion-button (click)="goToRoute()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
          <h3>{{achats.name}}</h3>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start" style="color:white">
        <ion-button id="IsAlertOpen">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
  <div class="bloc-info">
    <div class="img-detail d-f">
      <ion-avatar>
        <img [src]="achats.user_data.avatar" />
      </ion-avatar>
      <div class="title">
        <h3>{{achats.name}}</h3>
        <p>{{achats.user_data.username}}</p>
      </div>
    </div>

    <div class="block-btn-header ">
      <ion-buttons slot="start">
        <ion-button expand="bloc" shape="round" class="btn-Lecture">
          <ion-icon slot="start" name="footsteps"></ion-icon>Participer</ion-button>
        <ion-button shape="round" expand="bloc" class="btn-Lecture">
          <ion-icon slot="start" name="ticket"></ion-icon>Acheter un ticket</ion-button>
      </ion-buttons>
    </div>

    <div class="item d-f">
      <ion-icon slot="start" name="ticket"></ion-icon>
      <p style="color: purple;">{{achats.available_tickets}} Tickets disponibles</p>
    </div>
    <div class="item d-f">
      <ion-icon slot="start" name="location"></ion-icon>
      <p style="color: orange;"></p>
    </div>
    <div class="item d-f">
      <ion-icon slot="start" name="calendar"></ion-icon>
      <p >{{achats.end_date}} {{achats.end_time}}</p>
    </div>
    <p style="color:gray">{{achats.desc}}</p>
  </div>
</ion-content>

<ion-alert trigger="IsAlertOpen" header="Evénements" [buttons]="alertActionreeButtons"></ion-alert>