.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloc_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    .icon-alert {
        color: white;
    }
}

ion-content {
    --padding-bottom: 4rem;
}

.container::before {
    content: "";
    position: absolute;
    height: 1000px;
    width: 1100px;
    top: -14%;
    left: 5%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, var(--ion-color-primary) 0%, #7436a3 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: -3;
}

.container::after {
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    top: 22%;
    left: 1%;
    background-image: linear-gradient(-45deg, var(--ion-color-primary) 0%, #7436a3 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: -3;
}

.bg-img {
    padding-top: 6rem;
    .img-details {
        text-align: center;
        img {
            width: 60%;
            border-radius: 25px;
        }
    }
    .green {
        size: 40px;
        color: var(--ion-color-dark-contrast);
        text-align: center;
    }
    .tags {
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        b {
            width: 100%;
            display: block;
            font-weight: 800;
            white-space: nowrap;
            margin-bottom: 1rem;
        }
        .ative {
            padding-left: 100%;
            animation: scroll 7s ease-out infinite;
        }
    }
}

.bloc_range {
    width: 95%;
    margin: auto;
    ion-range {
        ion-label {
            font-size: 15px;
        }
    }
    .time {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.flex_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    ion-button {
        font-size: 15px;
    }
    .buttonPause {
        background-color: var(--ion-color-primary);
        color: white;
        min-width: 55px;
        height: 55px;
        border-radius: 50%;
    }
}

.flex_box2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 5px 0 5px;
    border: 1px solid #7436a3;
    width: auto;
    border-radius: 30px;
    ion-button {
        font-size: 13px;
        ion-icon {
            // color: var(--ion-color-dark);
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}