<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Authentification à deux facteurs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <h3>Authentification à deux facteurs</h3>
        <p>
            Activer l'authentification à deux facteurs pour améliorer la sécurité de vos comptes.

        </p>
        <div class="input">
            <div class="canView d-f-s">
                <ion-input type="password" label="Mot de passe actuel" labelPlacement="floating" class="content"></ion-input>
            </div>

        </div>
    </div>
</ion-content>