<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Détails</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-card>
            <h3>Qui est Sarah Magally, la célèbre musiciene Angerienne </h3>
            <img src="assets/icon/imgNew.png" style="width: 100%;" alt="img">

            <p class="date d-f">
                Date :
                <ion-icon slot="start" name="time-outline"></ion-icon>
                3 mois déjà
            </p>
            <p>Catégorie: Spotlighs</p>
            <p>Le latin est utilisé afin de voir au premier coup d’œil qu'il s'agit d'un texte de remplacement et permettrait ainsi de se focaliser uniquement sur la partie graphique de la page, sans être attiré par le contenu du texte lui-même.Mais il semblerait
                que ce texte latin pose quelques problèmes : pas d'accent, les mots ont des longueurs non représentatives du texte final et ce texte reste incompréhensible à priori. De plus, vos outils de césure ne pourront pas faire leur travail sur
                ce genre de texte. Sur Faux-Texte.com, nous vous laissons le choix de la langue (latin, français, anglais, russe, chinois, arabe, breton, corse, picard...) et la forme (paragraphes, mots, liste, chanson, citations...) et même une version
                avec votre propre texte à mélanger, afin d'adapter au mieux vos maquettes. Si vous avez des idées de nouveaux textes à nous proposer, n'hésitez pas à nous le faire savoir, peut-être qu'il sera intégré à une nouvelle version de ce lorem
                ipsum.
            </p>
            <ion-footer class="d-f-s">
                <ion-label>254 Vues</ion-label>
                <ion-button shape="round" fill="clear" id="popover-comment">
                    <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                </ion-button>
            </ion-footer>
        </ion-card>
        <ion-list>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="assets/icon/profil.png" />
                </ion-avatar>
                <ion-label>Mes commentaires popotin</ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="assets/icon/profil.png" />
                </ion-avatar>
                <ion-label>Mes commentaires popotin</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <form>
            <ion-button fill="clear" shape="round">
                <ion-icon slot="icon-only" name="image"></ion-icon>
            </ion-button>
            <ion-textarea type="text" name="comment" placeholder="Votre commentaire"></ion-textarea>
            <ion-buttons class="button-send" slot="end">
                <ion-button shape="round" expand="bloc">
                    <ion-icon slot="icon-only" name="send-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </form>
    </ion-toolbar>
</ion-footer>

<ion-popover trigger="popover-comment" [dismissOnSelect]="true">
    <ng-template>
        <ion-content>
            <ion-item button>
                <ion-label>Copier le lien</ion-label>
            </ion-item>
            <ion-item button>
                <ion-label>Partager</ion-label>
            </ion-item>
        </ion-content>
    </ng-template>
</ion-popover>