<div class="header d-f-s">
    <h5> 2 Chansons</h5>
    <span id="popover-button">Ascendante<ion-icon name="swap-vertical-outline"></ion-icon>
    </span>
</div>

<div class="list_chansons">
    <div class="ion-item" *ngFor="let song of [1,1]">
        <img src="assets/icon/gims.png" />
        <div class="title">
            <h3>Mon coeur avait raison</h3>
            <p>admin | 3.59</p>
        </div>
        <div class="block-btn">
            <ion-button class="btn-play" (click)="goToPlay()">
                <ion-icon color="primary" slot="icon-only" name="play-circle"></ion-icon>
            </ion-button>
            <ion-button (click)="openOptionSound()">
                <ion-icon slot="icon-only" color="primary" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
        </div>
    </div>
</div>


<ion-popover trigger="popover-button" [dismissOnSelect]="true">
    <ng-template>
        <ion-content>
            <form action="" method="post">
                <ion-list>
                    <ion-radio-group value="option1">
                        <ion-item>
                            <ion-label>Ascendante</ion-label>
                            <ion-radio color="primary" default value="option2"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Descendante</ion-label>
                            <ion-radio color="primary" value="option3"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Données ajoutées</ion-label>
                            <ion-radio color="primary" value="option3"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </form>
        </ion-content>
    </ng-template>
</ion-popover>