.best {
    padding-inline: .5rem;

    .movie {
        ion-label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100px;
            display: block;
        }
    }
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--ion-color-netfly-dark-contrast);
    margin: 10px 5px 5px 5px;

    h3 {
        font-weight: 600;
        font-size: 16px;
    }

    p {
        font-weight: 600;
        font-size: 16px;
        color: var(--ion-color-primary);
    }
}

.scroll-box {
    display: flex;
    overflow: scroll;
    gap: 7px;

    .movie img {
        height: 100px;
        max-width: none;
        border-radius: 18px
    }

    ion-skeleton-text {
        background-color: #ffffff14;
    }

    ion-thumbnail {
        height: 150px;
        width: 120px;
        border-radius: 20px;
    }
}


.bloc_news {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ececec;
}

ion-content {
    --padding-top: 2rem;
    --padding-bottom: 4rem;

    ion-item {
        --border-color: transparent;
    }
}