<ion-header [translucent]="false" class="ion-no-border">
    <ion-toolbar color="">
        <ion-buttons slot="start">
            <img style="height: 40px;" src="../../assets/icon/logo.png" />
        </ion-buttons>
        <ion-buttons shape="round" slot="end">
            <ion-button [routerLink]="['/conversation']">
                <ion-icon color="primary" slot="icon-only" name="chatbubble-ellipses"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div class="bloc_recent_play">
        <div class="best">
            <div class="box-title">
                <h3>Joué récement</h3>
                <p [routerLink]="['all']">Voir plus</p>
            </div>

            <div class="container-scroll" *ngIf="10 > 1; else ionSkeletonRecent">
                <div class="scroll-box">
                    <div class="movie" *ngFor="let item of [1,1,1,1]">
                        <img class="img-intro" src="assets/icon/gims.png" (click)="goToPlay()">
                        <ion-label>On my way - king saha (Lyrical video)</ion-label>
                    </div>
                </div>
            </div>
            <ng-template #ionSkeletonRecent>
                <div class="container-scroll">
                    <div class="scroll-box">
                        <div class="movie" *ngFor="let item of [1,2,3,4,5]">
                            <ion-thumbnail slot="start">
                                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                            </ion-thumbnail>
                            <p>
                                <ion-skeleton-text [animated]="true" style="width: 100px"></ion-skeleton-text>
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="bloc_news">
        <ion-list>
            <ion-item button [routerLink]="['/myplaylist']">
                <ion-icon slot="start" color="primary" name="albums-outline"></ion-icon>
                <ion-label>Playlist</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/musicaime']">
                <ion-icon slot="start" color="primary" name="heart-outline"></ion-icon>
                <ion-label>J'aime</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/download']">
                <ion-icon slot="start" color="primary" name="cloud-download-outline"></ion-icon>
                <ion-label>Téléchargements</ion-label>
            </ion-item>
            <ion-item button [routerLink]="['/partager']">
                <ion-icon slot="start" color="primary" name="share-social-outline"></ion-icon>
                <ion-label>Partagé</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>