ion-segment {
    ion-segment-button {
        text-transform: capitalize;
    }
}

.container {
    padding: 10px;
    padding-bottom: 5rem;
    .box-alert {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        h4 {
            font-weight: 900;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p {
            font-size: 14px;
        }
        ion-img {
            height: 80px;
        }
    }
}