<ion-content [fullscreen]="true" class="onboarding-page">
    <div class="gradient-overlay">
      <div class="image-container">
        <img src="assets/icon/first1.png" class="slide-image fade-in" alt="Welcome" *ngIf="valSlide === 0">
        <img src="assets/icon/first0.png" class="slide-image fade-in" alt="Experience" *ngIf="valSlide === 1">
      </div>
  
      <div class="content-wrapper">
        <swiper-container 
          [pagination]="true" 
          (swiperslidechange)="swiperSlideChanged($event)"
          class="custom-swiper">
          
          <swiper-slide [attr.data-index]="1">
            <h1 class="slide-title">Ecoutez le meilleur de la musique africaine avec AfroZikBox</h1>
          </swiper-slide>
  
          <swiper-slide [attr.data-index]="2">
            <h1 class="slide-title">Nous vous offrons une expérience audio inoubliable</h1>
          </swiper-slide>
        </swiper-container>
  
        <div class="action-buttons">
          <ion-button expand="block" 
                      class="start-button" 
                      (click)="onStart()" 
                      routerLinkActive="router-link-active">
            Commencer
          </ion-button>
  
          <ion-button expand="block" 
                      class="skip-button" 
                      [routerLink]="['/tabs']">
            Annuler
          </ion-button>
        </div>
      </div>
    </div>
  </ion-content>



  
  