<ion-content [fullscreen]="true">
    <div class="container">
        <img src="assets/icon/first1.png" class="img" alt="" *ngIf="valSlide === 0">
        <img src="assets/icon/first0.png" alt="" *ngIf="valSlide === 1">
    </div>
    <div class="bloc-swiper">
        <swiper-container [pagination]="true" (swiperslidechange)="swiperSlideChanged($event)">
            <swiper-slide [attr.data-index]="1">
                <h3>Ecoutez le meilleur de la musique africaine avec AfroZikBox</h3>
            </swiper-slide>
            <swiper-slide [attr.data-index]="2">
                <h3>Nous vous offreons une expérience audio inoubliable</h3>
            </swiper-slide>
        </swiper-container>
        <div class="bouttons">
            <ion-button expand="block" shape="round" [routerLink]="['/login']" routerLinkActive="router-link-active">Commencer</ion-button>
            <ion-button expand="block" color="dark" shape="round" [routerLink]="['/tabs']">Annuler</ion-button>
        </div>
    </div>
</ion-content>