<ion-content [fullscreen]="true">
    <div class="container">
        <swiper-container>
            <swiper-slide><img src="assets/icon/first1.jpg" alt="">
                <h3>Ecoutez le meilleur de la musique africaine avec AfroZikBox</h3>
            </swiper-slide>
            <swiper-slide><img src="assets/icon/first0.jpg" alt="">
                <h3>Nous vous offreons une expérience audio inoubliable</h3>
            </swiper-slide>
        </swiper-container>
        <ion-button expand="block" shape="round" [routerLink]="['/login']" routerLinkActive="router-link-active">Commencer</ion-button>
        <ion-button expand="block" color="dark" shape="round" [routerLink]="['/tabs']">Annuler</ion-button>
    </div>
</ion-content>